<div id="intro" class="intro-wrapper">
  <div class="intro-container ">
    <h1>New into porn? <br>Our all-female camera crew will make you feel at ease during shootings.</h1>
  </div>
</div>
<div id='about' class="about-wrapper">
  <div class="row" style="margin:0;">
    <div class="about-header hidden-xs col-sm-6">
      <h1><font color="#dc0073">First timers?</font> Don't worry!</h1>
    </div>
    <div class="about-container col-xs-12 col-sm-6">
      <div class="about-content">
        <div class='hidden-sm hidden-md hidden-lg'><h1>First timers? Don't worry!</h1></div>
        <h3><font color="#dc0073">Just like in your own bedroom</font></h3>
        <p>New to adult modelling and porn? All our films feature totally amateur males and females looking to make some money in the porn movie market, either as a one off venture or as a stepping stone into the world of adult movies. No previous experience is required.
        <br><br>
        <p><strong>Don't want to show your face? We have that option too!</strong></p>
        </p>
      </div>
    </div>
  </div>
</div>
