<div id='categories' class="categories-wrapper">
    <div class="categories-container">
        <div class="categories-header">
            <h1>Which categories are you interested in?</h1>
            <span>From something as light as a Solo Masturbation to a hardcore Gangbang, you will surely find the style that suits you:</span>
        </div>
        <div class="categories-cards">
            <div class="categories-card">
                <span>Amateur</span>
            </div>
            <div class="categories-card">
                <span>Solo masturbation</span>
            </div>
            <div class="categories-card">
                <span>Masked</span>
            </div>
            <div class="categories-card">
                <span>Massage Room</span>
            </div>
            <div class="categories-card">
                <span>Casting</span>
            </div>
            <div class="categories-card">
                <span>Cuckold</span>
            </div>
            <div class="categories-card">
                <span>BDSM</span>
            </div>
            <div class="categories-card">
                <span>CFNM</span>
            </div>
            <div class="categories-card">
                <span>Gangbang</span>
            </div>
            <div class="categories-card">
                <span>Milf / Mature</span>
            </div>
        </div>
    </div>
</div>