<div class="categories-wrapper">
    <div class="categories-container">
        <div class="categories-header"></div>
        <div class="categories-cards">
            <div class="categories-card">
                <p>Amateur</p>
            </div>
            <div class="categories-card">
                <p>Solo masturbation</p>
            </div>
            <div class="categories-card">
                <p>Masked</p>
            </div>
            <div class="categories-card">
                <p>Massage Room</p>
            </div>
            <div class="categories-card">
                <p>Casting</p>
            </div>
            <div class="categories-card">
                <p>Cuckold</p>
            </div>
            <div class="categories-card">
                <p>BDSM</p>
            </div>
            <div class="categories-card">
                <p>CFNM</p>
            </div>
            <div class="categories-card">
                <p>Gangbang</p>
            </div>
            <div class="categories-card">
                <p>Milf / Mature</p>
            </div>
        </div>
    </div>
</div>