<div id='rates' class="price-wrapper">
  <div class="price-container">
    <div class="price-header">
      <h1>How much do you get paid?</h1>
      <p>A typical movies shoot usually takes 5 hours and we currently pay the following rates:</p>
    </div>
    <div class="price-cards">
      <div class="price-card">
        <div class="card-title"><span>male performers</span></div>
        <div class="card-content"><span>£ 75/hour</span></div>
      </div>
      <div class="price-card">
        <div class="card-title"><span>female performers</span></div>
        <div class="card-content"><span>£ 350/hour</span></div>
      </div>
      <div class="price-card">
        <div class="card-title"><span>gay performers</span></div>
        <div class="card-content"><span>£ 75/hour</span></div>
      </div>
    </div>
  </div>
</div>
