<div class="service-wrapper">
  <div class="row" style="margin:0;">
    <div class="service-container col-xs-12 col-sm-6">
      <div class='hidden-sm hidden-md hidden-lg'><h2>For the fun <font color="#dc0073">memories</font>?</h2></div>
      <div class="service-content">
        <h3><font color="#dc0073">Private movies for couples and singles</font></h3>
        <p>
          <strong>Have you got a fetish you would like us to film? Come on down to our studio and live up your fantasies and take your movie home with you.</strong>

          <br><br>

          Have you ever wanted to make your own private sex movies with your partner or watch your partner going at it in action with another person? For a small fee, you will get a full access to our studio and our all female studio crew and approximately 4 hours of filming to produce your very own private movie. At the end of production the entire movie is given over to you for your own private viewing at home.
        </p>
      </div>
    </div>
    <div class="service-header hidden-xs col-sm-6">
      <h1>For the fun <font color="#dc0073">memories</font>?</h1>
    </div>
  </div>
</div>
