---
title: Are Facebook & Instagram listening to my conversations? | ARROW
---


<div class="post-wrapper">
  <div class="post-banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.8) 50%), url(/images/blogpost/are-facebook-and-instagram-listening-to-my-conversations.jpg)" alt="are-facebook-and-instagram-listening-to-my-conversations">
    <div class="post-banner-title">
      <h1>Are Facebook & Instagram listening to my conversations?</h1>
      <p><i class="fas fa-ellipsis-v"></i> 1 Sep 2019 </p>
    </div>
  </div>
  <div class="post-container">
    <h2>Big Tech and the Future of Advertising</h2>

    <p>Most regular social media users have anecdotal evidence of a time that they have discussed a specific topic, only to have products and services related to that topic be advertised to them in their social feeds further down the line. I myself have had this happen to me a couple of times and it does make for some eerie contemplation: “How could they have known?”, “What else do they know?”, “What else can they do with this information?”.</p>

    <p>The sceptics among us would argue that given the vast swathes of data that the likes of Facebook have access to, it is unsurprising that sometimes the targeting is able to appear remarkably accurate: CRM lists, interest and behavioural targeting, demographic information and lookalike modelling are all types of data points that the average brand has access to and when deployed correctly, a blend of the above can produce powerful results. Combined with a machine learning algorithm that helps advertisers optimise towards desired objectives, is it therefore any surprise that occasionally adverts will appear to be served with seemingly extreme accuracy?</p>

    <p>On the other hand, scandals like Cambridge Analytica as well as account hacks and the exploitation of software bugs have rightly resulted in firms such as Facebook being scrutinised by both governments and the general public alike. If you have seen the recent Netflix documentary “The Great Hack”, then you’ll understand exactly how such data can be unethically harvested, processed and taken advantage of by algorithms to manipulate susceptible individuals. Such breaches of trust call into question the transparency with which tech companies operate, particularly with regards to data and data privacy. Moreover, if this can happen, is it really that much of a leap to assume certain trigger words may be captured through our smart devices for additional precision?</p>

    <p>Whilst Facebook continues to deny that this is the case, recurring revelations and exposés only serve to add fuel to this assertion.</p>


    <h2>Change on the horizon?</h2>

    <p>Data breaches such as the above have shed light on the intrinsic value of personal information and the powerful influence it can have. In response to this, Facebook themselves have now started to provide tools to help users better understand how their data is being used by advertisers. Below are a couple of examples:</p>

    <h3>1) Facebook Ad Preferences</h3>
    <p>In here you can view which advertisers have uploaded CRM lists containing your information to Facebook, what information is currently being shared for ad targeting purposes, as well as what Facebook deems to be your interests based on your activity on the platform.</p>

    <p>Whilst some of these are actionable from a data privacy standpoint, other preferences are more for informative purposes only, highlighting what data there is for advertisers and therefore the ways in which you could be targeted.</p>

    <img src="/images/blogpost/why-am-i-seeing-this-ad.png" alt="why-am-i-seeing-this-ad" style='width:300px; padding: 10px;'>
    <img src="/images/blogpost/about-this-facebook-ad.png" alt="about-this-facebook-ad" style='width:300px; padding: 10px;'>
    <img src="/images/blogpost/your-ad-preferences.png" alt="your-ad-preferences" style='width:300px; padding: 10px;'>

    <h3>2) Clear History Privacy Tool</h3>

    <p>This new tool which is currently on trial in Ireland, Spain and South Korea was devised in the wake of the Cambridge Analytica scandal and gives users enhanced data privacy control for any “off-Facebook” activity. What this means is that users can clear or block any sites or apps that have gathered data on you off-Facebook which could subsequently be used for ad targeting.</p>

    <h2>A bleak future?</h2>

    <p>Whilst providing more transparency and control is a step in the right direction, with firms like Facebook continuing to operate with increased dominion over our everyday lives, it can feel like we are powerlessly walking into an Orwellian future. Although it is difficult to establish definitively whether big tech is listening in and using this data to fuel advertising, what we do know is that user data is becoming an increasingly precious commodity that can have significant consequences, when used either for good or for bad.</p>

    <p>Whilst the obvious answer is to disassociate yourself, whether it be through permanently deleting your account or removing any trace of these apps from your devices, the pervasiveness of such technologies mean that this is becoming an increasingly difficult feat. Digital assistants, Smartphones, Smart Cars and Smart homes all serve to make our lives easier, albeit at the expense of freely offering our personal data. Combine this with the fact that the imposition of any form of government regulation on private tech firms is a morally grey and hotly debated area, it remains to be seen how the future will play out from an ethical data use standpoint.</p>


    <div id="contact-btn">
      <a href='/#contact' class="main-large-btn">GET IN TOUCH</a>
    </div>
  </div>
</div>
