---
title: Biddable monthly updates - Sept 19 | ARROW
---


<div class="post-wrapper">
  <div class="post-banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.8) 50%), url(/images/blogpost/biddable-monthly-updates-sept-19.jpg);">
    <div class="post-banner-title">
      <h1>Biddable monthly updates - Sept 19</h1>
      <p><i class="fas fa-ellipsis-v"></i> 5 Sept 2019</p>
    </div>
  </div>
  <div class="post-container">
    <p>Welcome to the first of what we hope to be many biddable monthly updates! With digital being an ever-changing industry we want to bring you the best highlights to help you keep you up to date and aware of anything that could affect your business.</p>

    <p>Here is an update of recent news to start your September! The previous month brings new formats, new ad placements and better ad policies. Check out the latest from Search and Social platforms below.</p>
    <br><br>
    <h2>SEARCH</h2>

    <h3>Google Ads Expands Close Variants to Include Words With the Same Meaning</h3>
    <p>Previously, exact match close variants would match for queries that included slight grammatical variations of a word. This new change will now include completely different words with the same meanings, directly affecting phrase and broad match modified keywords.</p>

    <a href="https://www.searchenginejournal.com/google-ads-close-variants-to-include-words-with-the-same-meaning/319253/" target="_blank">Learn more</a>

    <h3>Accelerated Ad Delivery to be Removed</h3>
    <p>Announced back in Sept 2018, from Oct 1st Google has finally decided to remove Accelerated Delivery for Search and Shopping campaigns. Consequently, Standard Delivery will now be more predictive and search specialists should look to capitalise on ad scheduling and bid strategies to more effectively manage delivery.</p>

    <a href="https://searchengineland.com/google-ads-to-remove-accelerated-ad-delivery-option-next-month-320822" target="_blank">Learn more</a>

    <h3>Goodbye Average Position</h3>
    <p>Finally, on Sept 30th it is time to say a fond farewell to Average Position. Whilst this has been transitioning since February to new metrics such as Search Top and Absolute Top Impressions, Google has announced that this Average Position will be retired at the end of the month.</p>

    <a href="https://searchengineland.com/prepare-to-say-goodbye-to-average-position-in-google-ads-on-september-30-320521" target="_blank">Learn more</a>

    <h2>SOCIAL</h2>

    <h3>Facebook is Letting More Advertisers Place Ads in Search Results</h3>
    <p>Since last year, Facebook has been testing more placements in the search results. This means that advertisers can now opt to place ads only in the search results as opposed to the Newsfeed. However unlike Google Ads, there is no option to target specific Search keywords.</p>

    <a href="https://www.searchenginejournal.com/facebook-is-letting-more-advertisers-place-ads-in-search-results/318467/" target="_blank">Learn more</a>

    <h3>Instagram Confirms Increased Ad Loads in Stories</h3>
    <p>This most recent test involved running back-to-back ads in stories in an attempt to gain insights on how advertisers and people respond. However, this could lead to a higher rate of ad fatigue as this becomes a more regular experience so watch this space.</p>

    <a href="https://marketingland.com/instagram-confirms-it-is-testing-increased-ad-loads-in-stories-266186" target="_blank">Learn more</a>

    <h3>Facebook auto lead gen for messenger</h3>
    <p>With chat bots becoming much more present in the B2C world, Facebook’s automated lead generation feature allows advertisers to create automated Q&A experiences to help drive leads. This is also available with CRM platforms to drive a much more personalized experience.</p>

    <a href="https://marketingland.com/facebook-rolls-out-automated-lead-generation-feature-for-messenger-to-all-advertisers-266386" target="_blank">Learn more</a>

    <h3>New Policies for Elections</h3>
    <p>Ahead of the 2020 elections, Facebook has introduced new policies for political and social issue ads starting mid-Sept. Groups and people placing political advertising will now be subject to a much more detailed verification on the platform to help reduce the spread of online disinformation.</p>

    <a href="https://marketingland.com/facebook-introduces-new-policies-for-political-social-issue-ads-ahead-of-2020-elections-266317" target="_blank">Learn more</a>




    <div id="contact-btn">
      <a href='/#contact' class="main-large-btn">GET IN TOUCH</a>
    </div>
  </div>
</div>
