---
title: Planning for search outside of Google | ARROW
---


<div class="post-wrapper">
  <div class="post-banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.8) 50%), url(/images/blogpost/planning-for-search-outside-of-google.jpg)" alt="planning-for-search-outside-of-google">
    <div class="post-banner-title">
      <h1>Planning for search outside of Google</h1>
      <p><i class="fas fa-ellipsis-v"></i> 3 Sep 2019</p>
    </div>
  </div>
  <div class="post-container">
    <p>We all know the stats about Google being the biggest search engine and that’s why paid search is always focused around Google Ads. However we know that the dynamics of search are changing and while as a search engine, Google is completely dominant, people are doing searches elsewhere -- just differently.</p>

    <p>This is a guide to steer you in the correct mindset when planning for different platforms where search is possible. The largest number of searches outside of Google are now: YouTube, Facebook and Amazon. Amazon’s search offering is starting to become more developed while YouTube and Facebook are just starting, but it’s definitely worth planning ahead to get the early adopter advantage. </p>

    <h2 style="color:#fb8b24;" >Amazon <i class="fab fa-amazon"></i></h2>

    <p>The line between research terms and product terms is blurred in Amazon due to the ease of purchase in comparison to Google search. Also, with Amazon’s rating and reviews being standard across all of their products, users generally won’t be using search terms that include things like “review” , “comparison”, “best”, etc.</p>

    <p>This means two things:</p>

    <ol>
      <li>
        <p>The research journey becomes very different as users will go from very generic to very specific much quicker as they already know they plan on making a purchase. </p>

        <div class="orange-box">
          <p><b>Example Google search journey for a laptop: </b></p>
          <p>Best laptop <i class="fas fa-arrow-right"></i> laptop comparison <i class="fas fa-arrow-right"></i> MacBook 2019 review <i class="fas fa-arrow-right"></i> buy 13 inch MacBook</p>
          <br>
          <p><b>Example Amazon journey for a laptop:</b></p>
          <p>Laptop <i class="fas fa-arrow-right"></i>  Open multiple tabs to read reviews and look through specs <i class="fas fa-arrow-right"></i> Apple MacBook Pro 13-inch</p>
        </div>
      </li>

      <li>
        <p>Use of negatives is incredibly important as it means you can stay broad without showing for irrelevant traffic. This means maintaining the same level of sales while decreasing costs. Also using descriptive negatives to route keywords to more specific products means you will be able to provide more relevant product.</p>
      </li>
    </ol>




    <h2>YouTube <i class="fab fa-youtube"></i></h2>

    <p>The mindset in which users go into YouTube is very different to Search and therefore the way we approach the terms used should also be quite different. Alongside that, how the search terms are matched up to what is being searched is also different.</p>

    <p>YouTube Custom Intent works by creating audience lists based off of user’s previous search history on Google which is incredibly powerful. Using these audiences, we can then target them on YouTube with videos. </p>

    <p>From our experience YouTube’s Custom Intent campaigns will have fairly limited audience sizes, especially in comparison to Google search with the same keywords. Which means two things:</p>

    <ol>
      <li><p>Similar to Amazon: Go broad, no, even broader. We’ve tried going for category keywords and still seen limited levels of traffic, due to the way the audience matching works.</p></li>

      <li><p>Use negatives: again, the use of negatives is important, but not just at a keyword level, audience negatives work better in this case. Unless there is something very specific, we would suggest against heavy use of keyword negatives.</p></li>
    </ol>

    <h2 style="color:#04a777;">Facebook <i class="fab fa-facebook-square"></i></h2>

    <p>Facebook is a little more complicated as it isn’t currently possible to target by keyword! The search is more similar to Google’s shopping ads where it uses intent (deemed by Facebook) relevant to what the business provides.</p>

    <p>Which means if you’d like to include this ad format to your activity, it’s important to make sure relevancy to your products/services is clear in your landing pages, Facebook pages, and ads. </p>



    <div id="contact-btn">
      <a href='/#contact' class="main-large-btn">GET IN TOUCH</a>
    </div>
  </div>
</div>
