---
title: POST TITLE | ARROW
---


<div class="post-wrapper">
  <div class="post-banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.8) 50%), url(https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="post-banner-title">
      <h1>Title here</h1>
      <p><i class="fas fa-ellipsis-v"></i> 9 Aug 2019</p>
    </div>
  </div>
  <div class="post-container">
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore commodi quibusdam nesciunt similique iste repellat esse facere cumque magnam perspiciatis soluta, error, assumenda tempora molestias tenetur autem eveniet eaque voluptatum quas recusandae dicta dolor in cupiditate? Soluta doloribus quasi sint vel alias, rem, laborum quo numquam expedita sit, eaque nesciunt!</p>
    <div id="contact-btn">
      <a href='/#contact' class="main-large-btn">GET IN TOUCH</a>
    </div>
  </div>
</div>
