---
title: POST TITLE | ARROW
---


<div class="post-wrapper">
  <div class="post-banner" style="background-image: linear-gradient(180deg, rgba(0,0,0,0.8) 0, rgba(0,0,0,0.3) 25%, rgba(0,0,0,0.8) 50%), url(https://images.unsplash.com/photo-1495020689067-958852a7765e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
    <div class="post-banner-title">
      <h1>The optimisations people don't talk about, pre and post campaign efficiencies</h1>
      <p>9 Aug 2019 <i class="fas fa-ellipsis-v"></i> Jeff Chang</p>
    </div>
  </div>
  <div class="post-container">
    <p>Any search for “how to optimize_______” will yield hundreds of articles about how to do in platform optimisations and it’s completely justified as it’s the most obvious area in which you can make a change.</p>
    <br>
    <p>However, we believe that the opportunity for increasing efficiencies starts before that, and potential for improvement afterwards exists as well. So that’s what we are going to share some of our best practices around pre and post campaign launch.</p>
    <br>
    <h2>Pre-Campaign</h2>
    <br>
    <p>Pre-campaign is everything prior to launch and we will be going into how this planning and setup stage makes an impact on your campaign’s performance once it goes live.</p>
    <h3>Planning</h3>
    <p>Understanding your customers: We suggest you start by researching how users find and interact with your product, what is the consumer journey like? Once you have an understanding of that you can start to pick out the channels and formats relevant to your consumers</p>
    <p>Channel/format allocation: based on this, you can start to plan out what channels and formats you can use to reach these customers in the different stages of the consumer journey. Planning this out by level of efficiency will help you with allocation of budget later on.</p>
    <p>Budget allocation: When considering the budgets, there are a few things to keep in mind: feasibility for your business, audience strategy and expected return.</p>
    <h3>Creative</h3>
    <p>Ad copy opportunities: With the research done in the planning stage, you should have a strong enough understanding of your audiences to create messaging that resonates with them.</p>
    <p>Creative personalisation: Personalisation is increasingly important as companies like Amazon and ASOS have provided such a high benchmark for user experience that this is now considered the norm. Personalised content and messaging helps catch the users attention and has proven to increase brand awareness and conversion rates.</p>
    <p>Alignment with other activity: If you are running activity across multiple channels, ensure that there is alignment across these channels as well as your landing pages.</p>
    <h3>Setup</h3>
    <p>Naming conventions: Naming conventions make management, optimisation and reporting much simpler as it allows for you to segment your activity in a variety of manners in a consistent manner.</p>
    <p>Tracking and tagging: Testing of tags and on site tracking before launch means there isn’t a chance of missing out on any performance data when activity goes live.</p>
    <p>Reporting links: Ensuring that your automated reports are set up and linked to all channels before your start means more immediate review of results is possible once you go live.</p>
    <p>Script setup: All your base level scripts should be set up at this time so monitoring and optimisations can be made immediately after launch.</p>
    <br>
    <h2>Post-Campaign</h2>
    <br>
    <p>Post-campaign can be after the end of a campaign if it’s short term, or a reoccurring if it’s an always on campaign.</p>
    <h3>Review</h3>
    <p>Performance review: General review of performance, looking at if the campaign was successful overall, and what areas could be improved</p>
    <p>Creative review: At a creative level, what type of messaging, imagery, videos, etc worked and what didn't.</p>
    <p>Channel and format: of the channels and formats, how did they perform against each other and also against benchmarks.</p>
    <h3>Application of opportunity</h3>
    <p>Channel opportunities: Are the channels used in this campaign successful and how would you use if in future campaigns? Are there other channels that would provide better performance?</p>
    <p>Format opportunities</p>
    <p>Creative opportunities</p>
    <p>Market opportunities</p>
    <p>Optimisation opportunities</p>
    <div id="contact-btn">
      <a href='/#contact' class="main-large-btn">GET IN TOUCH</a>
    </div>
  </div>
</div>
